.rate {
    float: left;
    height: 46px;
}

.rate:not(:checked)>input {
    position: absolute;
    top: -9999px;
}

.rate:not(:checked)>label {
    float: right;
    width: 1em;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    font-size: 30px;
    color: #ccc;
}

.rate:not(:checked)>label:before {
    content: '★ ';
}

.rate>input:checked~label {
    color: #ffc700;
}

.rate:not(:checked)>label:hover,
.rate:not(:checked)>label:hover~label {
    color: #deb217;
}

.rate>input:checked+label:hover,
.rate>input:checked+label:hover~label,
.rate>input:checked~label:hover,
.rate>input:checked~label:hover~label,
.rate>label:hover~input:checked~label {
    color: #c59b08;
}

/* .flickity-viewport {
    max-height: 370px !important;
} */

.icon-user {
    font-size: 20px;
    border: 1px solid #000;
    border-radius: 100%;
    padding: 8px;
}

.icon-shopping-cart {
    font-size: 20px;
    border: 1px solid #000;
    border-radius: 100%;
    padding: 8px;
}

.menu-active {
    font-weight: 800 !important;
    font-size: 28px !important;
}

.pagination-custom nav div a {
    font-size: 20px;
    background-color: #000 !important;
    color: #fff !important;
    margin: 0 20px;
}

.pagination-custom nav div span {
    font-size: 20px;
    background-color: #d4d4d4 !important;
    color: #000 !important;
    margin: 0 20px;
}

.p-dropdown-content {
    background-color: #000 !important;
}

.p-dropdown-content a {
    color: #fff !important;
    transition: all 0.3s;
    font-size: 22px;
    margin-bottom: 10px;
}

.p-dropdown-content a:hover {
    font-size: 26px;
}

.home-text p {
    font-size: 23px; 
    line-height: 1.5;
    margin-bottom: 20px;
}

.preview-section {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.preview-section .image-preview-1 {
    position: relative;
    width: 240px !important;
    z-index: 100;
}

.preview-section .image-preview-2 {
    position: relative;
    width: 300px !important;
    left: 28%;
    bottom: 35%;
}

.collection-home-image {
    height: 300px !important;
    object-fit: cover;
    width: 100% !important;
}

.collection-image {
    height: 300px !important;
    object-fit: cover;
    max-width: 235px;
    border-radius: 50px;
}

.best-seller-image {
    height: 300px !important;
    object-fit: cover;
    width: 100%;
}

.review-image {
    width: 100%;
    object-fit: cover;
    height: 300px !important;
}

.review-user-image {
    height: 80px !important;
    object-fit: cover;
}

.related-product-image {
    width: 100% !important;
    height: 140px !important;
    object-fit: cover !important;
}

.btn-collection {
    background-color: rgb(0, 0, 0, 0) !important;
    color: #fff !important;
}

.btn-collection:hover {
    background-color: #fff !important;
    color: #000 !important;
}

.main-image {
    margin-top: 60px;
    /* padding-right: 80px; */
    border-radius: 50px;
}

.secondary-image-container {
    position: absolute;
    top: 0;
    right: 0;
    width: 45%;
}

.secondary-image {
    border-radius: 50px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
}

.history-description div, .history-description li {
    font-size: 20px !important;
}

.wizard-content .h5 {
    font-size: 28px !important;
}

.wizard-content .answer {
    font-weight: bold;
}

.wizard-content p {
    font-size: 20px !important;
}

.modal-title {
    font-size: 32px !important;
}

.quiz-result-image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 85%;
    height: auto;
    object-fit: contain;
}

.quiz-result-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    font-size: 1.3rem;
    font-weight: bold;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
}

.quiz-result-text h4, .quiz-result-text h1, .quiz-result-text h3 {
    color: #fff !important;
}